<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-3.4.1.js"></script>
    <style>
        html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
            margin: 0;
            padding: 0;
            /*overflow: hidden;*/
        }

        #pic-show {
            width: 100%;
            height: 100%;
            /*background: url("cut.png") no-repeat;*/
            position: fixed;
        }
    </style>
</head>
<body>
<img id="pic-show" src="" alt="">
</body>
<script>
    $("#pic-show").click(function (e) {
        console.log(e.pageX/$(this).width(), e.pageY/$(this).height())
        leng_width = e.pageX/$(this).width()
        leng_height = e.pageY/$(this).height()
        $.post("push_position",{"position_get":"width:"+leng_width+"-height:"+leng_height},function(){
            
        })
    })
    var isLoaded = true;
    function req(){
         isLoaded = false;
         $.post("get_next_pic",function(pic_data){
                $("img").attr("src","data:image/png;base64,"+pic_data);
                isLoaded = true;
                console.log("one_time")
         });
     }
     var id = setInterval(function(){
           isLoaded && req()
     }, 500)
</script>
</html>
